/*
    So you like the style of impress.js demo?
    Or maybe you are just curious how it was done?

    You couldn't find a better place to find out!

    Welcome to the stylesheet impress.js demo presentation.

    Please remember that it is not meant to be a part of impress.js and is
    not required by impress.js.
    I expect that anyone creating a presentation for impress.js would create
    their own set of styles.

    But feel free to read through it and learn how to get the most of what
    impress.js provides.

    And let me be your guide.

    Shall we begin?
*/


/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #eeeeec;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    min-height: 740px;

    background: rgb(46, 52, 54);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(85, 87, 83), rgb(46, 52, 54));
    background:    -moz-radial-gradient(rgb(85, 87, 83), rgb(46, 52, 54));
    background:     -ms-radial-gradient(rgb(85, 87, 83), rgb(46, 52, 54));
    background:      -o-radial-gradient(rgb(85, 87, 83), rgb(46, 52, 54));
    background:         radial-gradient(rgb(85, 87, 83), rgb(46, 52, 54));
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.

    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?

    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
    
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

   
    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
    opacity: 0.05;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.impress-enabled .animation.past { opacity: 0.8 }

.impress-enabled .hide.past { opacity: 0 }
/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    ;)

    They cover everything what you see on first three steps of the demo.
*/
.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background: rgb(46, 52, 54);
    border: 1px solid rgb(245, 121, 0);
    
    

    color: rgb(238,238,236);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

 font-size: 30px;
    line-height: 36px;

}
.substep {
    opacity: 0;
}
.substep.active {
    opacity: 1;
}
.substep {
    transition: opacity 1s ease 0s;
}
.substep.ws-img.hide.past {
  opacity: 0.1;
}
.substep.idb-img.hide.past {
  opacity: 0;
}
.animation {
 color: rgb(238,238,236);
}
.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;
    text-align: center;
    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
    color: rgb(245, 121, 0);
    font-weight: 600;
}
.orange {
      color: rgb(245, 121, 0);
}
.moveright {
  margin-left: 100px;
}
.moveleft {
  margin-left: -100px;
}
.moveright2 {
  margin-left: 200px;
}
.putright {
position: absolute;
right:100px;

}
.putdown {
  top: 100px;
position: absolute;
}
.putup {
 position: absolute;
top: -100px;
}
.slide .note {
    font-size: 30px;
    bottom: 30px;
position: absolute;
right: 30px;
}
.me-rotate {
  font-size: 50px
}
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }
#map {
border: solid 1px rgb(245, 121, 0);
height: 500px;
left: -44px;
position: absolute;
width: 980px;
top: -330px;
}

.olControlAttribution {

  font-size: 15px !important;
  color: black;
}
.olPopupContent {
  background: rgb(46, 52, 54);
  font-size:15px;
}

#nodemap {
 height: 400px;
width: 500px;
z-index: 10000;
float: right;
background: rgba(46, 52, 54, 0.8);
border: solid 1px rgb(245, 121, 0);
bottom: -325px;
right: -38px;
position: absolute;
}
.peer {
  fill: #eeeeec;
  font-size: 12px;
}
.herd {
  fill: rgb(245, 121, 0);
  font-size: 12px;
}

#heartbeat .nv-point-paths path {
  stroke: #aaa;
  stroke-opacity: 0;
  fill: #eee;
  fill-opacity: 0;
}
#heartbeat .nv-line {
    fill:  rgba(46, 52, 54,0);
   stroke: #eeeeec; 
}
#heartbeat circle.nv-point {
  stroke: rgb(245, 121, 0);
}
.nv-legendWrap {
  display: none;
}
#heartbeat {
font-size: 12px;
height: 200px;
width: 500px;
position: absolute;
top: 200px;
left: -100px;
}
.url {
top: -320px;
position: absolute;
color: #eeeeec;
}
.ws-img {
  position:absolute;
  top: -100px;
  left: -50px;
}

.idb-img {
  position: absolute;
top: -20px;
left: 40px;
}

